/* FrontPage */

* {
	font-family: "Times New Roman";
}

body {
	font-size: 14pt;
	margin: 0;
	padding: 0;
}

a:link, a:visited, a:active {
	color: #497c9a;
}

a:hover {
	color: #47509d;
}

a img {
	border: none;
}

form {
	margin: 0;
	padding: 0;
}

hr {
	color: #c5c3c3;
}

.red {
	color: #c00;
}

.ul_mark {
	list-style-image: url("../images/mark.png");
}

.cps {
	border-collapse: collapse;
}

.left {
	text-align: left;
}

.center {
	text-align: center;
}

.right {
	text-align: right;
}

.clear {
	clear: both;
}

.hide {
	display: none;
}

#bg {
	background: url("../images/bg.png") repeat-x #708fbc;
}

#container {
	margin: 0 auto;
	padding-top: 30px;
	width: 990px;
}

#header img {
	width: 100%;
}

#topmenu {
	background-color: #fff;
	border: 1px solid #a5a5a4;
	margin-top: -5px;
}

#topmenu ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

#topmenu ul li {
	float: left;
}

#topmenu a {
	background-color: #fff;
	border-right: 1px solid #a5a5a4;
	color: #000;
	display: block;
	padding: 8px 13px 6px;
	text-decoration: none;
}

#topmenu a:hover, #topmenu a.active {
	background-color: #e9eaeb;
}

#form_search {
	float: right;
	margin-top: 2px;
	margin-right: 5px;
}

#form_search .input {
	background: url("../images/input_search.png") no-repeat;
	border: none;
	color: #555555;
	font-size: 70%;
	height: 23px;
	outline: none;
	padding: 0 5px;
	width: 218px;
}

#form_search .icon_button {
	margin-left: 3px;
	margin-top: 4px;
}

#left {
	background-color: #fff;
	border: 1px solid #a5a5a4;
	padding: 0 20px;
}

#right {
	background-color: #e9eaeb;
	border: 1px solid #a5a5a4;
	border-left: none;
	padding: 0 20px;
	width: 240px;
}

#content {
	border-collapse: collapse;
	width: 100%;
}

#left, #right {
	vertical-align: top;
}

#left h1, #left h2 {
	color: #4d4d4e;
	margin: 15px 0 0;
}

#left h1 {
	font-size: 170%;
}

#left .post h1 {
	font-size: 140%;
}

#left h2 {
	font-size: 130%;
}

.post .post_info {
	width: 190px;
}

.post .post_info p {
	color: #497c9a;
	font-size: 80%;
	margin: -2px 0 0;
}

.post_text img.intro {
	float: left;
	margin-right: 10px;
	width: 75px;
}

.post_text img {
	width: 300px;
}

.post_text p {
	font-size: 90%;
	margin: 3px 0 10px;
}

.post_text ul, .post_text ol {
	font-size: 90%;
	margin-left: 15px;
	padding-left: 15px;
}

.post .more {
	margin: 0;
	text-align: right;
}

.post a {
	color: #497c9a;
	font-size: 90%;
}

.post a:hover {
	color: #47509d;
}

.post_text a {
	font-size: 100%;
}

#pages {
	font-size: 90%;
	width: 550px;
	margin: 0 auto;
}

#pages span {
	float: right;
}

#pages {
	font-size: 80%;
	width: 550px;
	margin: 0 auto;
}

#pages span {
	float: right;
}

.pagination {
	float: right;
	margin: 0;
	padding: 0;
	text-align: center;
}

.pagination li {
	list-style: none;
	float: left;
	margin: 0 7px;
}

.pagination table {
	font-size: 80%;
	margin: 0 auto;
}

.pagination a {
	color: #5f88a3;
	
	text-decoration: none;
}

.pagination a:hover {
	color: #47509d;
}

.right_block {
	background: url("../images/hr.png") no-repeat center bottom;
	padding-bottom: 20px;
}

.right_block #author {
	text-align: center;
}

.right_block h3 {
	color: #373737;
	margin: 10px 0;
}

.right_block img {
	border: 4px solid #fff;
}

.right_block a {
	color: #5f88a3;
	font-size: 90%;
}

.right_block a:hover {
	color: #47509d;
}

.right_block #right_block_courses img {
	border: none;
	height: 175px;
	width: 140px;
}

.right_block #right_block_courses .arrow {
	text-align: center;
}

.right_block #right_block_courses .arrow img {
	cursor: pointer;
	height: auto;
	width: 30px;
}

.right_block #right_block_courses table {
	margin: 0 auto;
}

.right_block #right_block_courses p {
	margin: 0;
}

.right_block .online h3, .right_block .online p {
	text-align: center;
}

.right_block .online p img {
	border: none;
}

.right_block .online p span {
	font-weight: bold;
}

.right_block .form_subscribe {
	background-color: transparent;
	border: none;
	margin: 0;
	padding: 0;
	width: 230px;
}

.right_block .ul_mark  {
	padding-left: 25px;
}

.recommendation {
	font-size: 85%;
}

.recommendation img {
	float: left;
	margin-right: 10px;
}

.recommendation p {
	line-height: 110%;
	margin: 0;
}

#footer {
	background: url("../images/footer.png") no-repeat;
	border-top: 1px solid #a5a5a4;
	height: 60px;
	padding-left: 130px;
	padding-right: 20px;
	padding-top: 9px;
	width: 840px;
}

#footer table {
	width: 100%;
}

#footer p {
	color: #7d7f7f;
	font-size: 75%;
	margin: 0;
}

/* Post Page */

#social {
	margin: 0 auto;
}

.right #social {
	float: right;
}

#fullpost_info {
	width: 100%;
}

.post_links p {
	margin: 0;
}

#comments table {
	width: 355px;
}

#comments h2 {
	color: #494847;
	font-size: 120%;
	margin: 0;
}

#comments input {
	margin: 7px 0 0;
}

#comments img {
	margin: 6px 0 0;
}

#comments_facebook {
	display: none;
}

#post_others img {
	width: 47px;
}

#post_others a {
	color: #2f302f;
	display: block;
	font-size: 85%;
	line-height: 115%;
	text-decoration: none;
}

#post_others a:hover {
	color: #47509d;
	text-decoration: underline;
}

#post_others .date {
	color: #5e86a1;
	font-size: 80%;
}

#access_like_1, #access_like_2 {
	display: none;
}

#left .course h1, #left .lesson h2 {
	margin: 10px 0;
}

.lesson {
	border-bottom: 1px solid #aaa;
}

/* NotFound Page */

#notfound {
	font-size: 90%;
	text-align: center;
}

/* Author Page */

#custom {
	text-align: center;
}

#custom h2 {
	margin: 10px 0 0 0;
	text-align: center;
}

#custom img {
	float: none;
	width: 230px;
}

#custom .post_text {
	text-align: left;
}

/* Courses Page */

#custom .video img {
	width: 300px;
}

.price {
	font-weight: bold;
	text-align: center;
}

.order {
	background: url("../images/button_order.png") no-repeat;
	display: inline-block;
	height: 37px;
	width: 117px;
}

.order:hover {
	background: url("../images/button_order_active.png") no-repeat;
}

.form_subscribe {
	background-color: #fbfbfb;
	border: 1px dashed #c8c8c8;
	margin: 10px auto;
	text-align: center;
	padding: 15px 0;
	width: 300px;
}

.form_subscribe h3 {
	color: #545d67;
	margin: 0 0 15px;
}

.form_subscribe .input {
	border: 1px solid #c8c8c8;
	color: #c8c8c8;
	height: 20px;
	padding: 5px 10px;
	width: 200px;
}

.button_subscribe {
	border-collapse: collapse;
	color: #fff;
	cursor: pointer;
	margin: 15px auto 0;
}

.button_subscribe:hover {
	color: #f2fa1c;
}

.button_subscribe td {
	padding: 0;
}

.button_subscribe .center {
	padding: 0 0 5px;
}

.bg_center {
	background: url("../images/button_subscribe_bg.png") repeat-x;
	border: 0;
	color: inherit;
	cursor: pointer;
	font-size: 15pt;
	height: 35px;
	margin: 0;
	padding: 0;
}

/* Subscribe Page */

#minicourses table {
	margin: 0 auto;
}

#minicourses .arrow {
	padding-top: 250px;
	vertical-align: top;
}

#minicourses .arrow img {
	cursor: pointer;
	margin: 0 10px;
	width: 40px;
}

#minicourses img {
	width: 200px;
}

#minicourses div {
	border: 1px solid #999;
	padding: 0 10px;
}

#minicourses .form_subscribe {
	border-style: dashed;
}

#minicourses_list {
	width: 500px;
}

/* Activate Page */

#sr_message h2 {
	color: #009900;
	text-align: center;
}

#sr_message p {
	font-size: 120%;
}

#sr_message p span {
	color: #cc0000;
	font-weight: bold;
	text-decoration: underline;
}

/* AddSite Page */

#addsite h2 {
	color: #009900;
	margin-bottom: 5px;
	text-align: center;
}

#addsite table {
	margin: 0 auto;
}

#addsite input[type="text"] {
	height: 20px;
	font-size: 90%;
	width: 200px;
}

#addsite textarea {
	width: 100%;
}

#addsite table td {
	padding: 5px 0;
}

#addsite .button_subscribe .bg_center {
	margin-top: -5px;
}

#addsite .red {
	color: #c00;
	text-align: center;
}

/* Sites Page */

#sites h2 {
	color: #009900;
	text-align: center;
}

/* Popup */

#parent_popup {
	background: url("../images/popup_bg.png") repeat;
	height: 100%;
	position: fixed;
	width: 100%;
	z-index: 100;
}

#popup {
	background: url("../images/popup.png") no-repeat;
	height: 342px;
	margin: 100px auto 0;
	padding-top: 28px;
	width: 778px;
}

#popup_form_subscribe {
	display: none;
}

#popup_form_code {
	display: none;
}

#popup_form_code_reset {
	display: none;
}

#popup .popup_input_table {
	border-collapse: collapse;
	margin: 20px auto;
}

#popup .popup_input_table td {
	padding: 0;
}

#popup #popup_close {
	margin: -43px -11px 0 0;
	text-align: right;
}

#popup #popup_close img {
	cursor: pointer;
}

#popup h1 {
	color: #c00;
	font-size: 170%;
}

#popup h1, #popup h2 {
	text-align: center;
	margin: 10px 0;
}

#popup p {
	margin: 0;
	text-align: center;
}

#popup p.link {
	color: #333;
	cursor: pointer;
	font-size: 150%;
	margin: 10px 0;
}

#popup p.link span {
	border-bottom: 1px dashed #000;
}

#popup .popup_input {
	background: url("../images/popup_input_bg.png") repeat-x top left;
	border: none;
	color: #6d6d6d;
	font-size: 110%;
	outline: none;
	padding: 0;
	width: 200px;
}

.popup_input_left, .popup_input, .popup_input_right {
	height: 44px;
}

.popup_input_left, .popup_input_right {
	width: 6px;
}

.popup_input_left {
	background: url("../images/popup_input_left.png") no-repeat;
}

.popup_input_right {
	background: url("../images/popup_input_right.png") no-repeat;
}

.preloader {
	display: none;
	text-align: center;
}

#contest {
	font-size: 120%;
}

#contest ol ul {
	font-style: italic;
}

#contest ol, #contest ul {
	line-height: 150%;
}

#contest img {
	width: 650px;
}

.help-block {
	color: #c00;
}